{% extends 'base.html' %}

{% block detail_transaction %}

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding-bottom: 10px
}

#customers td, #customers th {
    border: 1px solid rgb(138, 185, 26);
    padding: 8px;
}

/* #customers tr:nth-child(even){background-color: #f2f2f2;} */
#customers tr {background-color: rgb(231, 216, 216);}
#customers tr:hover {background-color: rgb(212, 117, 117);}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
a {
    color:hotpink
}
h4 {
    color:hotpink
}
</style>

<table id="customers">
       <h4> detail transaction: {{info.transaction_hash}}</h4>
    <tr>
        <th>From</th>
        <td>{{ info.from}}</td>
    </tr>

    <tr>
        <th>To</th>
        <td>{{ info.to}}</td>
    </tr>

    <tr>
        <th>Time</th>
        <td>{{ info.time}}</td>
    </tr>

    <tr>
        <th>Public key</th>
        <td>{{ info.data.public_key}}</td>
    </tr>

    <tr>
        <th>Signature</th>
        <td>{{ info.data.signature}}</td>
    </tr>

    <tr>
        <th>Contract</th>
        <td>{{ info.data.text}}</td>
    </tr>

    <tr>
        <th>Check</th>
        <td><a href="{% url 'bc_signature:check_signature' info.transaction_hash %}">check signature</a>
            {{verify}}

        <td>
    </tr>
    {% if show_contract %}
    <tr>
            <th>Content of Contract</th>
            <td>
               
                {{show_contract}}
            <td>
        </tr>
    {% endif %}
    
        
        
</table>

  {% endblock %}