
{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}


{% block content %}

<div class="login">
    
    
</div>

<div  class="col-12 col-lg-9">
		<div class="grad"></div>
		<div class="header">
	
					<div>Accounts<span>Signup</span></div>
					 
		</div>
			<br>
	</div>
<div class="login">
  <h2>Sign up</h2>
  
  <form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn egames-btn mt-30">Login</button>
	   
	</form>
	
	<a href="{% url 'bc_signature:signup' %}"> signup !!!</a>
	
</div>


{% endblock %}