
{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  
<form method="post" action="{% url 'bc_signature:signup' %}">
  {% csrf_token %}
  <!-- catch error POST form -->
  {% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
	{% for field in form %}
	    <div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	    </div>
	{% endfor %}
   
  <button type="submit">Sign up</button>
</form>
  <a href="{% url 'bc_signature:login' %}"> login !!!</a>
{% endblock %}